@media only screen and (max-width: 1024px) {
/*  body {
      background-image: url(images/pic1.png);
    }*/
    .header {
      height: 9vw;
    }
    .menubtn {
      font-size: 3.5vw;
    }
    .dropdown a {
      font-size: 2.8vw;
      line-height: 6vw;
    }
    .socialmedia {
      padding-top: 3vw;
      margin-left: 40%;
    }
    .socialmedia a {
      font-size: 1.8vw;
      line-height: 3.5vw;
    }
    .navbaricons {
      font-size: 2.1vw;
    }
    .closebtn {
      font-size: 6vw;
    }
.close {
  font-size: 9vw;
}
.modal {
  padding-top: 10vw;
}
.modal-content {
  width: 55vw;
}
.videosgrid video {
  width: 35vw;
}
.wallpaperimages {
padding-top: 0;
padding-bottom: 5vw;
padding-left: 8vw;
}
.column1 {
  padding-top: 3vw;
}
.column2 {
  padding-top: 0;
}
.wallpaperimages img {
  width: 23vw;
}
footer {
  height: 7vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fb, .ig, .gmailcopy {
  font-size: 3.2vw;
}
/* about me */
.content3 {
  padding: 5vw;
  padding-top: 0;
}
.aboutmepic img, p {
  cursor: default;
  width: 35vw;
}
p {
  font-size: 1.9vw;
}
}

@media only screen and (max-width: 900px) {
  /*  body {
      background-image: url(images/pic1.png);
    }*/
    .header {
      height: 10vw;
    }
    .menubtn {
      font-size: 4vw;
    }
    .dropdown a {
      font-size: 3vw;
    }
    .socialmedia {
      padding-top: 3vw;
      margin-left: 40%;
    }
    .socialmedia a {
      font-size: 2vw;
    }
    .navbaricons {
      font-size: 2.2vw;
    }
    .closebtn {
      font-size: 6vw;
    }
  .modal {
    padding-top: 15vw;
  }
  .close {
    font-size: 9vw;
    top: 8vw;
    right: 10vw;
  }
  .container {
    padding-bottom: 13vw;
  }
.gallery img, .videosgrid video, .content3 img, p, .wallpaperimages img, .bigimg img, .bigimgdesktop img {
  border: 0.4vw solid transparent;
}
.gallery img:hover, .videosgrid video:hover, .wallpaperimages img:hover, .bigimg img:hover, .bigimgdesktop img:hover {
  border-width: 0.4vw;
}
footer {
  height: 8vw;
}
.fb, .ig, .gmailcopy {
  font-size: 3vw;
}
.gallerydesktop {
  display: none;
}
}

@media only screen and (max-width: 768px) {
/*  body {
    background-image: url(images/pic1.png);
  }*/

  /* Header */

  .header {
    height: 12vw;
  }
  .logo img {
    margin-left: 5vw;
    height: 7vw;
  }
  h1 {
    background-image: url(images/border768.svg);
  }
  h3 {
    background-image: url(images/aboutmeborder768.svg);
  }
  h2 {
    font-size: 4vw;
  }
  .dropdown a {
    font-size: 3.5vw;
    line-height: 7vw;
  }
  .socialmedia {
    padding-top: 5vw;
    margin-left: 40%;
  }
  .socialmedia a {
    font-size: 2.5vw;
    line-height: 5vw;
  }
  .navbaricons {
    font-size: 2.5vw;
  }
  .closebtn {
    font-size: 7vw;
  }
    .modal-content {
      width: 75vw;
    }
    .close {
      font-size: 6.5vw;
      top: 8vw;
      right: 10vw;
    }
  /* header end */

  h1 {
    font-size: 7vw;
  }

  /* gallery */

.container {
  padding: 0 5vw;
  padding-bottom: 14vw;
}
.gallery, .videosgrid, .content3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40vw 2vw 40vw;
  grid-template-columns: repeat(2, 40vw);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
  gap: 2vw;
}
.desktopstyle {
  display: block;
}
.bigimgdesktop  {
  display: none;
}
.bigimagedesktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
  padding-top: 2vw;
}
.bigimage {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-ms-flex-line-pack: stretch;
    align-content: stretch;
-ms-grid-columns: none;
grid-template-columns: none;
gap: 0;
padding-right: 0;
padding-top: 2vw;
padding-bottom: 2vw;
}
.bigimg img {
  width: 80vw;
}
.gallery img, .videosgrid video, .content3 img, p {
  width: 40vw;
  border: 0.4vw solid transparent;
  margin-bottom: 0;
}
.gallery img:hover, .videosgrid video:hover {
  border-width: 0.4vw;
}
.modal-content img {
  border: 0.4vw solid transparent;
}

/* wallpaper */

.wallpapergrid {
  margin-top: 0;
  margin-bottom: 3vw;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}
.wallpaper {
  padding-top: 0;
  margin-left: 3vw;
}
.wallpaperimages {
  padding: 0;
  padding-left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30vw 5vw 30vw;
  grid-template-columns: repeat(2, 30vw);
  gap: 5vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.column2 {
  padding-top: 2vw;
}
.wallpaperimages img {
  width: 30vw;
  border: 0.4vw solid transparent;
  cursor: pointer;
}

/* wallpaper end */

footer {
  height: 10vw;
}
.fb, .ig, .gmailcopy {
  font-size: 4vw;
}

/* about me */
h3 {
  font-size: 10vw;
}
.content3 {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
  gap: 3vw;
}
.aboutmepic img, p {
  cursor: default;
  width: 70vw;
}
p {
  font-size: 4vw;
}
}

@media only screen and (max-width: 430px) {
  /*body {
      background-image: url(images/pic1.png);
    }*/
  .header {
    height: 20vw;
  }
  .logo img {
    margin-left: 7vw;
    height: 13vw;
  }
  h1 {
    background-image: url(images/border390.svg);
  }
  h3 {
    background-image: url(images/aboutmeborder390.svg);
  }
  h2 {
    font-size: 7vw;
  }
  .dropdown {
  top: 5%;
  }
  .menubtn {
    font-size: 10vw;
  }
  .dropdown a {
    font-size: 7vw;
    line-height: 10vw;
  }
  .socialmedia {
    padding-top: 20vw;
    margin-left: 23%;
  }
  .socialmedia a {
    font-size: 5vw;
    line-height: 8vw;
  }
  .navbaricons {
    font-size: 5vw;
  }
  .closebtn {
    font-size: 15vw;
  }
  /* header end */

  h1 {
    font-size: 10vw;
  }
    .modal-content {
      width: 90vw;
      margin: 0;
      margin-left: 2vw;
      padding-top: 10vw;
    }
    .close {
      font-size: 13vw;
      top: 7vw;
      right: 3vw;
    }

    /* gallery */

    .container {
      padding: 0 1vw;
      padding-bottom: 25vw;
    }
    .desktopstyle {
      display: block;
    }
    .gallery, .videosgrid, .content3 {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 45vw 2vw 45vw;
      grid-template-columns: repeat(2, 45vw);
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    	-webkit-box-align: stretch;
    	    -ms-flex-align: stretch;
    	        align-items: stretch;
    	-ms-flex-line-pack: stretch;
    	    align-content: stretch;
      gap: 2vw;
      padding-right: 5vw;
    }
    .gallery img, .videosgrid video, .content3 img, p, .wallpaperimages img, .bigimg img {
      width: 45vw;
      border: 1vw solid transparent;
      margin-bottom: 1vw;
    }
    .bigimg img {
      width: 90vw;
    }
    .gallery img:hover, .videosgrid video:hover, .wallpaperimages img:hover, .bigimg img:hover {
      border-width: 1vw;
    }
    .modal-content img {
      border: 1vw solid transparent;
    }

/* wallpaper */

.wallpaper {
  background-image: url(images/wallpaper390.png);
  background-size: 100%;
  padding-right: 0;
  padding-bottom: 0;
}
.wallpaperimages {
  padding: 3vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40vw 0 40vw;
  grid-template-columns: repeat(2, 40vw);
  gap: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wallpaperimages img {
  width: 40vw;
}
.column1 {
  padding-top: 8vw;
  padding-left: 5vw;
}
.column2 {
  padding-top: 12vw;
  margin-right: 7vw;
  margin-top: 4vw;
}
.pic2 {
  margin-top: 7vw;
}
.pic3 {
  margin-top: 17vw;
}
.pic4 {
  margin-top: 5vw;
}
.pic2, .pic4 {
  margin-right: 5vw;
}

/* footer */
    footer {
      height: 20vw;
    }
    .fb, .ig, .gmailcopy {
      font-size: 8vw;
    }

/* about me */

h3 {
  font-size: 10vw;
}
.content3 {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
  gap: 3vw;
}
.aboutmepic img, p {
  cursor: default;
  width: 70vw;
}
p {
  font-size: 5vw;
}
}

/* safari */

@supports (-webkit-hyphens:none)
{

  .safari_only {
    background-color: #101010;
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: inherit;
  }

}
