/* styling reset (https://www.joshwcomeau.com/css/custom-css-reset/) */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  /* border: 1px solid red; */
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select, a {
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* end styling reset */

/* global styles */

html, body {
  font-size: 100%;
  font-family: 'Quicksand', sans-serif;
  color: #f9f9f9;
  font-weight: 500;
  line-height: 1.5;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

p {margin-bottom: 1rem;}

h1, h2 {
  font-family: 'Rye', cursive;
  font-weight: 400;
}

h1 {
  font-size: clamp(2rem, 4vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

section, nav, footer {
  /* center containers */
  margin-inline: auto;
  width: 100%;
}

.container {
  width: 90%;
  margin-inline: auto;
}

/* end global styles */

/* Header */

.header {
  padding: 1rem 0;
  background-color: #101010;
}

.header-wrapper {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

li {
  list-style-type: none;
}

.logo img {
  height: clamp(3rem, 4vw, 5rem);
}

.menubtn {
  color: rgba(221,181,38,1.00);
  font-size: 2rem;
  cursor: pointer;
}

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.dropdown-nav, .dropdown-socialmedia {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.dropdown-socialmedia {
  margin-top: 3rem;
  align-items: flex-start;
}

.dropdown a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 4rem;
  cursor: pointer;
}

.dropdown-socialmedia a {
  line-height: 1rem;
  font-size: 1rem;
}

a:hover {
  color: rgba(221,181,38,1.00);
}

.closebtn {
  /* margin: 5rem 2rem; */
  font-size: 4rem;
  color: rgba(221,181,38,1.00);
  text-decoration: none;
}

.closebtn:hover {
  color: rgba(184,156,54,1.00);
}

.dropdown .closebtn {
position: absolute;
}

.navbaricons {
  margin-top: 0.5rem;
  color: rgba(221,181,38,1.00);
  font-size: 1.5rem;
}

/* Header end */
/* h1 */

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-top: clamp(3rem, 4vw, 5rem);
  padding-bottom: clamp(2rem, 3vw, 3rem);
  background-repeat: no-repeat;
  background-size: contain;
}

/* h1 end */
/* gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.grid-3 {
  grid-column: span 2;
}

.grid-2 {
  grid-column: span 3;
}

video {
  width: 100%;
}

/* gallery end */
/* wallpaper */

.wallpapergrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 3rem 0;
}

.pic1, .pic2, .pic3, .pic4 {
  justify-self: center;
}

.pic1  {
  transform: rotate(-25deg);
  justify-self: center;
}

.pic2 {
  transform: rotate(10deg);
}

.pic3 {
  transform: rotate(10deg);
}

.pic4 {
  transform: rotate(-5deg);
}

/* wallpaper end*/
/* footer */

footer {
  background-color: #101010;
  height: 5rem;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  justify-content: space-between;
	align-items: center;
	align-content: flex-start;
  margin-top: 2rem;
}

.footericons {
  display: flex;
}

.footericons a {
  font-size: 1.5rem;
}

.footericons a:not(:first-child) {
  margin-left: 1rem;
}

button {
  background-color: #101010;
  border: none;
  color: rgba(221,181,38,1.00);
}

a button:hover {
  color: rgba(184,156,54,1.00);
  cursor: pointer;
}

/* end footer */
/* about me page */

.aboutme-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 28rem;
}

.aboutmetext p {
  font-size: 1.3rem;
  margin: 2rem 0;
}

.aboutmepic {
  max-width: 28rem;
}

/* end about me pae */
/* respnsive */

@media only screen and (min-width: 1000px) {
  .container {
    width: 70%;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-3 {
    grid-column: span 1;
  }

  .grid-2 {
    grid-column: span 1;
  }

  .grid-responsive, .grid-responsive video {
    grid-column: span 2;
    }

    .aboutme-content {
      flex-direction: row;
      justify-content: flex-start;
      max-width: 100%;
      align-items: stretch;
    }

  .aboutmetext-wrapper {
    display: flex;
  	flex-direction: column;
  	align-items: baseline;
    justify-content: flex-start;
    margin-left: 2rem;
  }
  .aboutmetext p {
    margin: 0;
    margin-bottom: 2rem;
}
footer {
  height: 7rem;
  margin-top: 12rem;
}
.wallpapergrid {
  margin: 5rem 0;
}
}

@media only screen and (min-width: 1500px) {
  .container {
    width: 60%;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-3 {
    grid-column: span 1;
  }
  .grid-2 {
    grid-column: span 1;
  }

.grid-responsive, .grid-responsive video {
  grid-column: span 2;
  }
  .wallpapergrid {
    margin: 7rem 0;
  }
}

/* end respnsive */
